body{
height: 100vh;
background-image: url("https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FtcGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
background-size: cover;
background-position: center;
}
.cover-container{
max-width: 60vw;
}